@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif;
}
/*=============wallpaper=========*/
.home-section {
  width: 100%;
  height: 100vh;
  background-color: #00000064;
  font-size: 30px;
  margin-top: -50px;
  padding-top: 50px;
}
.color {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-image: url(./img/tierra-mallorca-rgJ1J8SDEAY-unsplash.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.modal-content {
  height: 980px !important;
  width: 1056px !important;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.navbar-dark {
  background-color: #333435;
  height: 162px;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 3;
}

header {
  width: 100%;
  height: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
header nav {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
header a {
  text-decoration: none;
  color: white;

  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-weight: 100;
}
.premium-nav {
  color: #ffffff;
  font-weight: 200;
  font-size: 35px;
}
header a:hover {
  text-decoration: none;
}
.nav-area {
  list-style: none;
}
.nav-area li {
  display: inline-block;
  padding-left: 70px;
  text-align: left;
}
.nav-area li a img {
  width: 36px;
  height: 23px;
}
.login {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  margin-right: 55px;
}
.login button {
  color: white;
  border: none;
  padding: 10px 15px;
  background-color: royalblue;
  border-radius: 15px;
  font-size: 28px;
  font-weight: lighter;
  font-family: "Barlow", sans-serif;
  margin-left: 25px;
  text-decoration: none;
  width: 131px;
}
i {
  font: 32px/40px "Barlow";
  letter-spacing: 0px;
  color: white;
  margin-left: 25px;

  opacity: 1;
}
/*==========Home section(wallpaper)========*/
.hero {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.item1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}
.item2 {
  position: relative;
  margin-top: 120px;
  width: 812px;
  height: 652px;
  background: #e5e5e589 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 10px #00000029;
  border: 1px solid #707070;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  align-items: flex-start;
}
.item2 button {
  position: absolute;
  bottom: 0;
  left: 50%;
  border: none;
  text-decoration: none;
  font-size: 28px;
  font-family: "Barlow", sans-serif;
  width: 269px;
  height: 58px;
  color: #ffffff;
  background: #0467d7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}
.location {
  margin-top: 56px;
  margin-left: 0;
  font-size: 29px;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  text-align: left;
}
.location i {
  margin-left: 15px;
}
.location input {
  padding-left: 25px;
  width: 714px;
  height: 62px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  font-size: 25px;
}
.price {
  margin-top: 46px;
  font-size: 29px;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  text-align: left;
}
.price input {
  padding-left: 10px;
  width: 295px;
  height: 62px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.price div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price hr {
  margin-top: 30px;
  border: 3px solid black;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.price i {
  margin-left: 15px;
}
.price input[type="range"] {
  -webkit-appearance: none;
  width: 714px;
  height: 10px;
  border-radius: 5px;
  background: black;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.price input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.R-input {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
}
.R-input label {
  font-size: 29px;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}
.R-input select {
  width: 177px;
  height: 62px;
  border-radius: 10px;
}
/*---------------------------------------------*/
.hero h1 {
  font-size: 64px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.hero p {
  padding-top: 35px;
  font: lighter 45px/54px Barlow;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/*=============Best Offers===================*/
.best-offers {
  background-color: whitesmoke;
}
.best-offers h1 {
  padding-top: 80px;
  text-align: center;
  font: bold 80px/42px Barlow;
  letter-spacing: 0px;
  color: #333435;
  margin-bottom: 30px;
}
.grid-container-3 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.grid-item-3 {
  margin: 10px;
}
.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  transition: 0.3s;
}
.card1:hover {
  transform: scale(1.03);
}
.card1 img {
  z-index: 2;
  overflow: hidden;
  width: 398px;
  height: 401px;
  border-radius: 15px;
  box-shadow: 5px 6px 16px -7px rgba(0, 0, 0, 1);
}

.card1-info {
  width: 100%;
  height: 234px;
  background-color: #c96e00;
  margin-top: -40px;
  padding: 74px 28px 16px 22px;
  position: relative;
  text-align: left;
  font-size: 29px;
  font-weight: lighter;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  z-index: 0;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 6px 16px -7px rgba(0, 0, 0, 1);
}
.premium {
  position: absolute;
  top: 35px;
  right: 80px;
  overflow: hidden;
  display: inline-block;
  margin-left: 20.3px;
  z-index: 10;
}
.premium img {
  width: 72px;
  height: 45px;
}
.cmimi {
  position: absolute;
  top: 50%;
  left: 55%;
  font-size: 29px;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  background-color: #c96e00;
  padding: 15px 19px 14px 18px;
  border-radius: 15px;
  z-index: 10;
}

/*=====loading=============*/
.card-blank {
  background-color: #5578c9c9;
  height: 500px;
  border-radius: 15px;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------------*/
.grid-container-4 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.grid-item-4 {
  margin: 10px;
}
.card-s {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  transition: 0.3s;
}
.card-s:hover {
  transform: scale(1.1);
}
.card-s img {
  z-index: 2;
  overflow: hidden;
  width: 291px;
  height: 291px;
  border-radius: 15px;
  box-shadow: 5px 6px 16px -7px rgba(0, 0, 0, 1);
}

.card-info-s {
  width: 90%;
  height: 171px;
  background-color: royalblue;
  margin-top: -40px;
  padding: 74px 28px 16px 22px;
  position: relative;
  text-align: left;
  font-weight: lighter;
  font-size: 29px/35px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  z-index: 0;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 6px 16px -7px rgba(0, 0, 0, 1);
}

.card-cmimi-s {
  position: absolute;
  z-index: 10;
  bottom: 150px;
  right: 60px;
}
.card-cmimi-s p {
  display: inline-block;
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  background-color: royalblue;
  padding: 15px 19px 14px 18px;
  border-radius: 15px;
}
/*========How it works ==============*/
.info-section {
  width: 100%;
  height: 960px;
  background-color: royalblue;
}
.info-section h1 {
  padding-top: 45px;
  text-align: center;
  font-weight: bolder;
  font-size: 80px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.info-item {
  margin-top: 83px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.info-item p {
  margin-top: 85px;
  text-align: center;
  font-size: 50px;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/*===========seller========*/
.seller {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.seller h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 70px;
  font-family: "Barlow", sans-serif;

  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.seller button {
  background: #ff9a00 0% 0% no-repeat padding-box;
  color: #ffffff;
  text-align: center;
  font-size: 42px;
  font-family: "Barlow", sans-serif;
  width: 272px;
  height: 84px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 15px;
}

/*--------- blank -------*/
.footer {
  width: 100%;
  height: 276px;
  background: #333435 0% 0% no-repeat padding-box;
  position: relative;
}
.footer img {
  margin-top: 37px;
  margin-left: 40px;
  width: 241px;
  height: 140px;
}

.footer-content {
  position: absolute;
  top: 69px;
  left: 250px;
}
.footer p {
  color: #fff;
  font-size: 32px;
}
.footer-content-item {
  display: inline-block;
  margin-left: 270px;
}
