<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="page.css" />
    <title>template</title>
  </head>
  <body>
    <div class="home-section">
      <div class="color"></div>
      <header>
        <div>
          <nav>
            <ul class="nav-area">
              <li>
                <img src="./img/Layer_1.svg" />
              </li>
              <li><a href="">Home</a></li>
              <li><a href="">Rent</a></li>
              <li><a href="">Sell</a></li>
              <li><a href="">About</a></li>
            </ul>
          </nav>
        </div>
        <div class="login">
          <a href="">Sign Up</a>
          <i
            style="
              font: 32px/40px Esteban;
              letter-spacing: 0px;
              color: #dad7d7;
              margin-left: 15px;
              opacity: 1;
            "
            >or</i
          >
          <a href="">Log In</a>
        </div>
      </header>
      <div class="hero">
        <div class="hero-content item1">
          <h1>Searching for a house?</h1>
          <p>Give us the clues and get a house to choose!</p>
        </div>
        <div class="item2">
          <form>
            <input type="text" />
            <a href="#" id="search">
              <i class="fa fa-search"></i>
            </a>
          </form>
        </div>
      </div>
    </div>

    <div class="best-offers">
      <h1>Check out our best offers!</h1>
      <div class="grid-container-3">
        <div class="grid-item-3">
          <div class="card">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi">
              <img src="./img/Path 261.svg" alt="" />
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-3">
          <div class="card">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi">
              <img src="./img/Path 261.svg" alt="" />
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-3">
          <div class="card">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi">
              <img src="./img/Path 261.svg" alt="" />
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-3 card">
          <img src="./img/home1.jpg" alt="" />
          <div class="card-info">
            <p>Apartament me qera prane Vasil Shntos 2+1</p>
          </div>
          <div class="card-cmimi">
            <img src="./img/Path 261.svg" alt="" />
            <p>20000.00 ALL</p>
          </div>
        </div>
        <div class="grid-item-3">
          <div class="card">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi">
              <img src="./img/Path 261.svg" alt="" />
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-3">
          <div class="card">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi">
              <img src="./img/Path 261.svg" alt="" />
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-container-4">
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
        <div class="grid-item-4">
          <div class="card-s">
            <img src="./img/home1.jpg" alt="" />
            <div class="card-info-s">
              <p>Apartament me qera prane Vasil Shntos 2+1</p>
            </div>
            <div class="card-cmimi-s">
              <p>20000.00 ALL</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="info-section">
      <h1>How does it work?</h1>
      <div class="grid-container-3">
        <div class="grid-item-3 info-item">
          <img src="./img/Group 9.svg" alt="" />
          <p>Add your information on the website...</p>
        </div>

        <div class="grid-item-3 info-item">
          <img src="./img/Group 10.svg" alt="" />
          <p>And we find you the perfect place!</p>
        </div>
        <div class="grid-item-3 info-item">
          <img src="./img/Group 11.svg" alt="" />
          <p>And you might also find a new friend!</p>
        </div>
      </div>
    </div>

    <div class="seller">
      <h1>Are you a seller?</h1>
      <a>Click here</a>
    </div>
    <div class="blank"></div>
  </body>
</html>
