<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <title>template</title>
  </head>
  <body>
    <div class="home-section">
      <header>
        <div>
          <nav>
            <ul class="nav-area">
              <li>
                <a href="" class="logo">LockAL</a>
              </li>
              <li><a href="">Rent</a></li>
              <li><a href="">Sell</a></li>
              <li><a href="">About</a></li>
            </ul>
          </nav>
        </div>
        <div>
          <a href="" class="login">Sign Up</a>
        </div>
      </header>
      <div class="hero">
        <div class="hero-content">
          <h1>Searching for a house?</h1>
          <p>Give us the clues and get a house to choose!</p>
          <form>
            <input type="text" />
            <a href="#" id="search">
              <i class="fa fa-search"></i>
            </a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
