<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <title>template</title>
  </head>
  <body>
    <div class="home-section">
      <div class="color"></div>
      <header>
        <div>
          <nav>
            <ul class="nav-area">
              <li>
                <a href="" class="lockal">LockAL</a>
              </li>
              <li><a href="">Rent</a></li>
              <li><a href="">Sell</a></li>
              <li><a href="">About</a></li>
            </ul>
          </nav>
        </div>
        <div>
          <a href="" class="login">Sign Up</a>
        </div>
      </header>
      <div class="hero">
        <div class="hero-content">
          <h1>Searching for a house?</h1>
          <p>Give us the clues and get a house to choose!</p>
          <form>
            <input type="text" />
            <a href="#" id="search">
              <i class="fa fa-search"></i>
            </a>
          </form>
        </div>
      </div>
    </div>

    <div class="best-offers">
      <h1>Check out the best offers!!</h1>
      <div class="grid-container">
        <div class="grid-item">
          <img src="./img/home1.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home2.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home3.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home4.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home5.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home6.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home7.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home8.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
        <div class="grid-item">
          <img src="./img/home9.jpg" alt="" />
          <span><p>200.00ALL</p></span>
        </div>
      </div>
    </div>

    <div class="seller">
      <h1>Are you a seller?</h1>
      <a>Click here</a>
    </div>
    <div class="blank"></div>
  </body>
</html>
