<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="rentpage.css" />
  </head>
  <body>
    <div class="rent-wallpaper-section">
      <img src="./img/rent-house-img.png" alt="kot" />
      <h1>Houses avaible to rent!</h1>
    </div>
    <div class="search-component">
      <form>
        <label for="location"> Location </label>
        <br /><input type="text" name="location" id="location" />
      </form>
      <button>Price</button>
      <button>Roomates</button>
      <button>Rooms</button>
    </div>
    <div class="homes-component">
      <div class="homes-component-content">
        <form action="" class="homes-component-select">
          <label for="sort">
            Sort By:
          </label>
          <select name="sort" id="sort">
            <option value="Price">Price</option>
          </select>
        </form>
        <div class="homes-grid">
          <div class="homes-grid-item">
            <img class="homes-grid-img" src="./img/home3.jpg" alt="lol" />
            <img class="premium-logo" src="./img/Path 261.svg" />
            <p class="home-item-infoP"></p>
          </div>
          <div class="homes-grid-item">
            <img class="homes-grid-img" src="./img/home3.jpg" alt="lol" />
            <img class="premium-logo" src="./img/Path 261.svg" />
            <p class="home-item-infoP"></p>
          </div>
          <div class="homes-grid-item">
            <img class="homes-grid-img" src="./img/home3.jpg" alt="lol" />
            <img class="premium-logo" src="./img/Path 261.svg" />
            <p class="home-item-infoP"></p>
          </div>
          <div class="homes-grid-item">
            <img class="homes-grid-img" src="./img/home3.jpg" alt="lol" />
            <p class="home-item-info"></p>
          </div>
          <div class="homes-grid-item">
            <img class="homes-grid-img" src="./img/home3.jpg" alt="lol" />
            <p class="home-item-info"></p>
          </div>
          <div class="homes-grid-item">
            <img class="homes-grid-img" src="./img/home3.jpg" alt="lol" />
            <p class="home-item-info"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
