/* stilet tjera mbishkruhen nga login css */
.signup{
    padding:0px 25px;
}
.signup .form-control{
    width:260px;
}

.signup .break-line{
    width:100%;
}
.signup .break-line #text{
    left:43%;
}
/* radio buttons styling */
.radio-container {
  position: relative;
  padding-left: 25px;
  margin: 9px 10px 37px 0;
  cursor: pointer;
  /* width:80px; */
  font-size: 18px;
  -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  border:1px #707070 solid;
  border-radius: 35%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #0467D7;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
}