/* stilet tjera mbishkruhen nga login css */
.signup{
    padding:0px 25px;
}
.signup .form-control{
    width:260px;
}

.signup .my-form-group{
    margin-bottom:41px;
}

.signup .break-line #text{
    left:43%;
}