.best-offers {
  background-color: whitesmoke;
}
.best-offers h1 {
  padding-top: 80px;
  text-align: center;
  font: bold 80px/42px Barlow;
  letter-spacing: 0px;
  color: #333435;
  margin-bottom: 30px;
}
.offers-content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
/*============= Media Queris =============*/
