.homes-component {
  width: 100%;
  display: flex;
  margin-top: 27.77vh;
  font-family: "Barlow", sans-serif;
  justify-content: center;
  align-items: center;
}
.homes-component-content {
  margin-top: 4.629vh;
  width: 90%;
}
.homes-component label {
  font-size: 2.6vw;
}
.homes-component form {
  margin-bottom: 5.833vh;
}
.homes-component select {
  width: 17.96vw;
  height: 5.74vh;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  border: 1px solid #333435;
  border-radius: 0.52vw;
  font-size: 0.094vw;
  color: #333435;
  padding: 10px 19px;
}
.homes-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.homes-grid-item {
  width: 18.333vw;
  height: 50.74vh;
  position: relative;
  margin-bottom: 6.29vh;
}
.homes-grid-img {
  overflow: hidden;
  margin-left: 1.171875vw;
  width: 18.333vw;
  height: 32.87vh;
  box-shadow: 10px -5px 20px #00000029;
  border-radius: 15px;
}
.premium-logo {
  position: absolute;
  z-index: 0;
  right: 0.52vw;
  top: 3.425vh;
  width: 3.802vw;
  height: 4.2592vh;
}
.home-item-info {
  position: absolute;
  width: 20.36vw;
  height: 19.16vh;
  box-shadow: 10px -5px 20px #00000029;
  border-radius: 15px;
  margin-top: -4.629vh;
  z-index: -1;
  color: #fff;
  font-size: 1.1vw;
  padding-top: 5.555vh;
  padding-left: 0.98vw;
  padding-right: 1.04vw;
}
.home-sub-Prem {
  background-color: #c96e00;
}
.home-sub-Norm {
  background-color: #055dc1;
}
.home-item-info img {
  margin-top: -0.925vh;
  margin-right: 0.52vw;
  margin-left: 0.52vw;
}
