*{
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}
.text{
    display:block;
    font-size: 3.5vw;
    font-family: "Barlow", sans-serif;
    color: #333435;
    margin:4vw;
    font-weight:600;
}

.steps-container{
    position: relative;
    width:55vw;
    height:10vw;
}
.line{
    height:0.5vw;
    background-color:lightgray;
    top:1.25vw;
    left:6vw;
    width:43vw;
    position: absolute;
    z-index: -1;
}
.dot1,.dot2,.dot3{
    font-size:1.8vw;
    font-family: "Barlow", sans-serif;
    background-color:#0467D7;
    color:white;
    width:3vw;
    height:3vw;
    border-radius:50%;
    text-align: center;
}
.nd-dot-tittle,.first-dot-tittle,.rd-dot-tittle{
    position:absolute;
    font-family: "Barlow", sans-serif;
    width:2vw;
    line-height:1.3vw;
    top:3.5vw;
    font-weight:600;
}
.first-dot-tittle{
    left:4.2vw;
}
.nd-dot-tittle{
    left:25.8vw;
}
.rd-dot-tittle{
    right:5.2vw;
}
.sell-form .form-group{
    margin:0vw 2vw 4vw 2vw ;
    position: relative;
}
.sell-form .form-control{
    width:19vw;
}
.sell-form label{
    position: absolute;
    height:3.79vh;
    font-size:1.4vw;
    top:-2.4vh;
    margin:0 0 0 0.8vw;
    padding:0 0.25vw;
    background-color:white;
    z-index: 1;
}


/* step2 */
h5{
    width:100%;
    margin-bottom:2.5vw;
    font-size:1.5vw;
}
.house-details-container{
    width:55vw;
}

.house-details-container .custom-control-label{
    width:11.5vw;
    margin-bottom:2.5vw;
    font-size:1.2vw;
    font-weight: 400;
}
.house-details-container .form-control{
    display:inline-block;
    width:5.5vw;
    height:2.5vw;
    border-radius:0.3vw;
    margin:0 3vw 0vw 1vw
}
.block-element{
    width:100%;
}
.no-of-people .form-control,.no-of-people h5{
    margin:0.5vw 0vw 0.4vw 0vw;
}
.text-area .form-control{
    margin-left:0;
    width:100%;
    height:10vw;
}
.text-area h5{
    margin:0;
}
