.info-section {
  width: 100%;
  background-color: #0467d7;
}
.info-section h1 {
  padding-top: 4.16vh;
  text-align: center;
  font-weight: bolder;
  font-size: 4.16vw;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.info-item {
  margin-top: 7.68vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.info-item p {
  margin-top: 4.42vh;
  margin-bottom: 8.6111vh;
  text-align: center;
  font-size: 2.6vw;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.grid-info-3 {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.info-item img {
  width: 20vw;
  height: 20vw;
}

/*============== Media Queries ================*/
/* @media (max-width: 1600px) {
  .info-section h1 {
    font-size: 60px;
  }
  .grid-info-3 {
    margin-left: 5%;
  }
}

@media (max-width: 1440px), (max-height: 900px) {
  .info-section h1 {
    font-size: 60px;
  }
  .grid-info-3 {
    margin-left: auto;
    margin-right: auto;
  }
  .info-item img {
    width: 20vw;
    height: 20vw;
  }
  .info-item p {
    font-size: 30px;
  }
} */
