@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

button:focus {
  outline: none;
}

.toggleList {
  position: absolute;
  z-index: 10000;
  width: 30px;
  height: 50px;
  left: 10px;
  top: 80px;
  background-color: white !important;
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleCoords {
  position: absolute;
  z-index: 10000;
  width: 30px;
  height: 50px;
  left: 10px;
  top: 140px;
  background-color: white !important;
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleList i,
.toggleCoords i {
  color: black;
  margin-left: 0 !important;
  font-size: 20px;
}

.openedComponent {
  left: 25%;
}

.nearme-home-premium {
  background-color: #FF9A00;
}

.nearme-home-normal {
  background-color: #0467D7;
}

.nearme-home-list {
  width: 25%;
  z-index: 1000;
  position: absolute;
  top: 80px;
  left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 25px;
  overflow-y: scroll;
  height: 90vh;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.65);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nearme-list-elem {
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
  color: white;
  margin-bottom: 5%;
  padding-bottom: 5%;
}

.nearme-list-img-premium {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.nearme-list-elem-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.nearme-list-price {
  position: absolute;
  right: 5%;
  top: 45%;
  padding: 2%;
  border-radius: 10px;
  transform: translate(0, -50%);
}

.nearme-list-desc h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-left: 18px;
  margin-top: 20px;
}

.nearme-list-price p {
  margin-bottom: 0 !important;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.nearme-list-btns {
  width: 60%;
  margin-left: 5%;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 14px;
  line-height: 17px;
  grid-gap: 2%;
}

.nearme-list-btns button {
  padding: 10px 0;
  border-radius: 6px;
  color: white;
  transition: .5s;
}

.nearme-list-btns a button {
  width: 100%;
}

.premuim-btn {
  background: rgb(251, 167, 41);
  border: 1px solid #FFFFFF;
}

.premuim-btn:hover {
  color: rgb(251, 167, 41);
  background-color: #FFFFFF;
}

.normal-btn {
  background: #328AED;
  border: 1px solid #FFFFFF;
}

.normal-btn:hover {
  color: #328AED;
  background-color: #FFFFFF;
}

.nearme-list-info {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 90%;
  margin-left: 5%;
  margin-bottom: 4%;
}

.nearme-list-info i {
  font-size: 14px;
  margin-left: 10%;
}

.nearme-list-info img {
  width: 18px;
  height: 18px;
}

.map-modal {
  position: absolute;
  z-index: 800;
  width: 905px;
  height: 218px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 15px 15px;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, 5%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.map-modal-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.map-modal-btns button {
  margin-left: auto;
  margin-right: auto;
  width: 224px;
  height: 74px;
  background: #0467D7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: white;
  font-size: 17px;
}

.map-modal h1 {
  font-weight: bold;
  font-size: 37px;
  text-align: center;
}

.pop-up-visit-btn {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  margin-bottom: 5%;
}

.popup {
  position: relative;
  border-radius: 10px;
}

.popup img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.popup h3 {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.popup h6 {
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 13px;
  position: absolute;
  color: white;
  right: 5%;
  top: 40%;
  padding: 5px 10px;
  border-radius: 5px;
}