.form-group{
    position:relative;
    margin-bottom:5.48vh;
}
.my-form-group{
    margin:0;
}

.label{
    position: absolute;
    height:3.79vh;
    font-size:1.51vw;
    top:-2.03vh;
    margin:0 0 0 1.21vw;
    padding:0 0.25vw;
    background-color:white;
    z-index: 1;
}
.form-control{
    width:25.75vw;
    font-size:1.36vw;
    padding:2vh 1.03vw;
    border-radius:0.6vw;
    border:1px solid#000000; 
}
.form-
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 1.51vw white inset !important;
}
.alert-danger,.alert-success{
    position:absolute;
    font-size:1.05vw;
    width:95%;
    padding:0.9vw;
    z-index:2;
}
.alert-padding-left{  /* tek sign up */
    margin-left:0.9vw;
}
.gender-cl .alert-danger{
    width:84%;
    margin-left:0.9vw;
  }
/* ------- */
.error{
    position:absolute;
    top:0.2vw;
}
.my-checkbox{
    margin:3.5vh 0px 3.7vh 0.4vw;
}
.custom-control-label::before{
    top:1vh;
    width:1.21vw;
    height:1.21vw;
    left:-1.61vw;
}
.custom-control-label::after{
    top:0.242vw;
    left:-1.858vw;
    width:1.76vw;
    height:1.76vw;
}
.custom-control-label{
    font-size: 1.515vw;
}
.remember-me{
    font-size:1.515vw;
}

.btn{
    font-size:1.414vw;
    letter-spacing: 0.05vw;
    color:white;
    border-radius:0.6vw;
    background-color:#0467D7;
    margin-bottom:2.57vw;
    width:7.47vw;
    height:3.23vw;
}

.btn-align{
    position: relative;
}
.my-btn{
    position: absolute;
    left:9.19vw;
    top:14vw;
    z-index:2;
}

.break-line{
    position:relative;
    height:0.15vw;
    width:92%;
    margin:3.5vw 0;
}
.break-line .horizontal-rule{
    position: absolute;
    height: 0.15vw;
    width:100%;
    background-color:#00000029;
}
.break-line #text{
    font-size:1.717vw;
    position: absolute;
    left:43%;
    top:-2.3vh;
    background-color: white;
    padding:0 2.57vw;
} 
.clear{
    width:100%;
}
.clear-button{
    width:100%;
    height:3vh;
}
.facebook-button,.google-button{
    width:3.7vw;
    height:3.7vw;
    margin:1.5vh 0.858vw 3vw 0.858vw;
}
