body {
  font-family: Barlow;
}
.my-container {
  width:48vw;
  border-radius: 13px;
}
.st-row {
  position: relative;
  height: 5.64vh;
  margin-bottom: 3.61vh;
}
.st-row .text {
  position: absolute;
  margin: 3.14vh 1.7vw 0 1.86vw;
  color: #0467d7;
  font-size: 2.52vw;
  letter-spacing: 0.16vw;
  font-weight: 500;
}

.st-row button {
  all: unset;
  position: absolute;
  right: 1.86vw;
  top: 3.42vh;
  cursor: pointer;
  font-size: 2.07vw;
  font-family: inherit;
}
.nd-row {
  border-bottom: 1.5px solid #00000029;
  width: 39.49vw;
  margin: 0 auto 3vw;
}
.logintext,
.signuptext {
  font-size: 1.86vw;
  letter-spacing: 0.21vw;
  text-align: center;
  margin-top: 1.57vh;
}
.logintext,
.signuptext:hover {
  cursor: pointer;
}
.signuptext {
  margin-left: 2.323vw;
}
.active-border {
  border-bottom: 0.2vw solid #0467d7;
  color:#0467d7;
}