@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow";
}

.error-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.387)),
    url("./homepage components/img/commingSoon.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.error-page-content {
  width: 600px;
  height: 400px;
  background-color: rgba(233, 233, 210, 0.748);
  box-shadow: 0px 0px 29px -7px rgba(0, 0, 0, 0.75);
  border: 2px solid gray;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page-content h1 {
  font-size: 72px;
}

.error-page-content p {
  margin-top: 30px;
  font-size: 40px;
}
.error-page-content button {
  margin-top: 50px;
  background-color: royalblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.navbar-dark {
  background-color: #333435;
  height: 162px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coming-soon-img {
  width: 719px;
  height: 534px;
  margin-left: 50%;
  margin-top: 61px;
  transform: translateX(-50%);
}

.coming-soon-button {
  width: 272px;
  height: 84px;
  background: #ff9a00 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 42px;
  margin-left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
}

.coming-soon-p {
  text-align: center;
  width: 1387px;
  margin-left: 50%;
  margin-top: 61px;
  transform: translateX(-50%);
  font-size: 75px;
  font-weight: bolder;
  color: #333435;
}
