.grid-item-4 {
  margin: 10px;
}
.card-s {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.48148vh;
  transition: 0.3s;
}
.card-s:hover {
  transform: scale(1.1);
}
.card-s-img {
  z-index: 2;
  overflow: hidden;
  width: 15.1516vw;
  height: 26.94vh;
  border-radius: 0.78125;
  box-shadow: 5px 6px 16px -7px rgba(0, 0, 0, 1);
}

.card-info-s {
  width: 90%;
  height: 15.83vh;
  background-color: royalblue;
  margin-top: -3.7vh;
  padding: 5vh 1.4583vw 1.48vh 1.14583vw;
  position: relative;
  text-align: left;
  font-weight: lighter;
  font-size: 1.11vw;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  z-index: 0;
  color: #ffffff;
  border-radius: 0.78vw;
  box-shadow: 5px 6px 16px -7px rgba(0, 0, 0, 1);
}
.s-card-info-desc {
  font-size: 1.11vw;
}
.card-cmimi-s {
  position: absolute;
  z-index: 10;
  bottom: 12.037vh;
  right: 2.6vw;
}
.card-cmimi-s p {
  display: inline-block;
  font-size: 1.09vw;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  background-color: royalblue;
  padding: 1.388vh 0.989vw 1.29vh 0.98vw;
  border-radius: 0.781vw;
}
.card1-info-s-adress img {
  width: 1.1458vw;
  height: 2.5925vh;
  padding-right: 0.52vw;
}
.card1-info-s-adress {
  margin-left: 0.52vw;
  margin-bottom: 4px;
}

/*================ Media Queries ==============*/
/* @media (max-width: 1600px) {
  .card-s-img {
    width: 250px;
    height: 250px;
  }
  .card-cmimi-s {
    right: 40px;
  }
}
@media (max-width: 1440px), (max-height: 900px) {
  .card-s-img {
    width: 200px;
    height: 200px;
  }
  .card-cmimi-s p {
    font-size: 18px;
    padding: 10px 12px 10px 12px;
  }
} */
