.coming-soon-img {
  width: 37.447vw;
  height: 49.4444vh;
  margin-left: 50%;
  margin-top: 5.648vh;
  transform: translateX(-50%);
}

.coming-soon-button {
  width: 14.166vw;
  height: 7.77vh;
  background: #ff9a00 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 2.187vw;
  margin-left: 50%;
  margin-top: 9.259vh;
  transform: translateX(-50%);
}

.coming-soon-p {
  text-align: center;
  width: 72.23vw;
  margin-left: 50%;
  margin-top: 5.648vh;
  transform: translateX(-50%);
  font-size: 3.9vw;
  font-weight: bolder;
  color: #333435;
}
