@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif;
}

.hero {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.item1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}
.item2 {
  position: relative;
  margin-top: 6.25vh;
  width: 42.29vw;
  height: 60.37vh;
  background: #e5e5e589 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 10px #00000029;
  border: 1px solid #707070;
  border-radius: 0.78vw;
  opacity: 1;
  display: flex;
  align-items: flex-start;
}
.nearme {
  width: 3.64vw !important;
  top: 6.94vh !important;
  left: 35.41vw !important;
  height: 5.74vh !important;
  border-radius: 0.52vw !important;
}
.item2 button {
  position: absolute;
  bottom: 7%;
  left: 50%;
  border: none;
  text-decoration: none;
  font-size: 1.458vw;
  font-family: "Barlow", sans-serif;
  width: 12.01vw;
  height: 5vh;
  color: #ffffff;
  background: #0467d7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.78vw;
  transform: translate(-50%, -50%);
}
.location {
  margin-top: 2.91vw;
  margin-left: 0;
  font-size: 1.51vw;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  text-align: left;
  position: relative;
}

.nearme i {
  margin-left: 0 !important;
}
.location i {
  margin-left: 0.78vw;
}
.location input {
  padding-left: 1.3vw;
  width: 37.18vw;
  height: 5.74vh;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.52vw;
  font-size: 1.3vw;
}
.price {
  margin-top: 2.39vh;
  font-size: 1.51vw;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  text-align: left;
  width: 37.18vw;
}
.price input {
  padding-left: 1.3vw;
  width: 15.36vw;
  height: 4.74vh;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.52vw;
  font-size: 1.3vw;
}
.price div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price hr {
  margin-top: 2.77vh;
  border: 0.277vh solid royalblue;
  width: 1.5625vw;
  margin-left: 0.52vw;
  margin-right: 0.52vw;
}
.price i {
  margin-left: 0.78vw;
}
/*-----------------------------------------------*/

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1.5rem !important;
  margin-left: -0.5rem;
  margin-top: -0.6rem !important;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1.5rem !important;
}
.input-range__label {
  color: white;
  font-family: "Barlow", san-serif;
  font-size: 1.1rem;
  transform: translateZ(0);
  white-space: nowrap;
}
.input-range__label--value {
  position: absolute;
  display: none;
  top: -1.8rem;
}
.input-range__label--min,
.input-range__label--max {
  top: 1.85vh;
  bottom: -1.4rem;
  position: absolute;
}
.input-range {
  height: 1rem;
  position: relative;
  width: 36.45vw;
}
/*-----------------------------------------------*/

.R-input {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0.52vw;
}
.R-input label {
  font-size: 1.51vw;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}
.R-input select {
  width: 9.21vw;
  height: 5.74vh;
  border-radius: 0.52vw;
  border: none;
  outline: none;
}
.hero h1 {
  font-size: 3.33vw;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.hero p {
  padding-top: 3.333vh;
  font-size: 2.34vw;
  font-weight: lighter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

/*======== media queries ===========*/

/* @media (max-width: 1600px) {
  .item2 {
    width: 500px;
    margin-left: 10%;
  }
  .location input {
    margin-left: -30px;
    width: 414px;
  }
  .location button {
    margin-left: -300px;
  }
  .location i {
    margin-left: -10px;
  }
  .price {
    width: 500px;
  }
  .price i {
    margin-left: 40px;
  }
  .price input {
    margin-left: 30px;
    margin-right: 30px;
    width: 30%;
  }
  .input-range {
    width: 80% !important;
    margin-left: 10%;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero p {
    padding-top: 20px;
    font: lighter 30px/54px Barlow;
  }
}

@media (max-width: 1440px), (max-height: 900px) {
  .item1 {
    margin-top: -150px;
  }
  .item2 {
    height: 500px;
    margin-top: 10%;
  }
  .location {
    margin-top: 30px;
  }
  .location i {
    margin-left: -10px;
    font-size: 28px;
  }
  .location input {
    height: 52px;
    font-size: 20px;
  }
  .nearme {
    width: 50px !important;
    top: 50px !important;
    height: 50px !important;
    margin-top: 20px;
  }
  .price {
    margin-top: 20px;
  }
  .price i {
    font-size: 28px;
  }
  .price input {
    height: 50px;
    font-size: 20px;
  }
  .R-input select {
    width: 150px;
    font-size: 20px;
    height: 50px;
    border-radius: 10px;
  }
  .item2 button {
    font-size: 20px;
    width: 200px;
    height: 40px;
  }
}

@media (max-width: 1250px), (max-height: 650px) {
  .item2 {
    height: 400px;
    margin-top: 10%;
  }
  .hero h1 {
    margin-top: 100px;
    font-size: 35px;
  }
  .hero p {
    font: lighter 25px/54px Barlow;
  }
  .location {
    margin-top: 20px;
  }
  .location i {
    font-size: 24px;
  }
  .price {
    margin-top: 0px;
  }
  .price i {
    font-size: 24px;
  }
  .location input {
    height: 42px;
    font-size: 18px;
  }
  .price input {
    height: 42px;
    font-size: 18px;
  }
  .price hr {
    margin-top: 20px;
  }
  .input-range {
    margin-top: -15px;
  }
  .R-input {
    margin-top: 0;
  }
  .R-input label {
    font-size: 24px;
  }
  .R-input select {
    width: 120px;
    font-size: 18px;
    height: 42px;
    border-radius: 10px;
  }
  .item2 button {
    font-size: 20px;
    width: 150px;
    height: 35px;
    margin-bottom: -10px;
  }
} */
@media (min-height: 700px) {
  .item2 button {
    bottom: 0;
  }
}
/*==============End media Queries ===========*/
