@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif;
}

.hero {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.item1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -50px;
}
.item2 {
  position: relative;
  margin-top: 6.25vh;
  width: 42.29vw;
  height: 60.37vh;
  background: #e5e5e589 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 10px #00000029;
  border: 1px solid #707070;
  border-radius: 0.78vw;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 4.537vh 2.552vw 4.537vh 2.552vw;
}
.location label {
  margin-left: 0.572vw;
  font-size: 1.51vw;
  font-size: 1.51vw;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}
.location input {
  outline: none;
  padding-left: 1.3vw;
  width: 37.18vw;
  height: 5.74vh;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.52vw;
  font-size: 1.3vw;
}
.location-content {
  position: relative;
  display: flex;
}
.nearme {
  position: absolute;
  width: 3.64vw !important;
  height: 5.74vh !important;
  border-radius: 0.52vw !important;
  background-color: #0467d7;
  margin-left: -3.64vw;
  color: white;
  font-size: 1.5rem;
}
.nearme i {
  margin-left: 0 !important;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.552vw;
  padding-right: 2.552vw;
}
.price-content {
  width: 100%;
}
.price-input {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.56vw;
  margin-bottom: 3.333vh;
}
.price-input input {
  padding-left: 1.3vw;
  width: 15.36vw;
  height: 4.74vh;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.52vw;
  font-size: 1.3vw;
}
.price-input hr {
  margin-top: 2.4vh;
  border: 0.277vh solid royalblue;
  width: 1.5625vw;
}
.price label {
  font-size: 1.51vw;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}
.input-range__label--min {
  display: none;
}
.input-range__label--max {
  display: none;
}
/*-----------------------------------------------*/

.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1.5rem !important;
  margin-left: -0.5rem;
  margin-top: -0.8rem !important;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1.5rem !important;
}
.input-range__label {
  color: white;
  font-family: "Barlow", san-serif;
  font-size: 1.1rem;
  transform: translateZ(0);
  white-space: nowrap;
}
.input-range__label--value {
  position: absolute;
  display: none;
  top: -1.8rem;
}
.input-range__label--min,
.input-range__label--max {
  top: 1.85vh;
  bottom: -1.4rem;
  position: absolute;
}
.input-range {
  height: 1rem;
  position: relative;
  width: 36.45vw;
}
/*-----------------------------------------------*/

.R-input {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0.52vw;
}
.R-input label {
  font-size: 1.51vw;
  font-weight: 100;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}
.R-input select {
  width: 9.21vw;
  height: 5.74vh;
  border-radius: 0.52vw;
  border: none;
  outline: none;
}
.hero h1 {
  font-size: 3.33vw;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.hero p {
  padding-top: 3.333vh;
  font-size: 2.34vw;
  font-weight: lighter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.search-btn-container {
  padding-top: 4.537vh;
  width: 100%;
}
.search-btn-container button {
  width: 14.01vw;
  height: 5.37vh;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 1.45vw;
  background: #0467d7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
}

/*=================Media queries ============*/
@media (min-height: 800px) {
  .search-btn-container {
    padding-top: 2.537vh;
  }
}
@media (min-height: 600px) {
  .search-btn-container {
    padding-top: 0;
  }
}
/*==============End media Queries ===========*/
